<% include ./partials/header.ejs %>
    <div class="container " style="padding-top: 13rem;">
        <div class="title">
            <h1>Register for <span class="italic">Bootcamp</span></h1>
        </div>
        <div class="products-container" id="course">
            <div class="product" data-name="p-1">
                <img src="./images/lectures/python.jpg" alt="">
                <div class="carddeco">
                    <div class="star">
                        <span>5</span> <i class="ri-star-fill"> </i>rating
                    </div>
                    <div class="eye">
                        <i class="ri-eye-fill"><span>150+</span></i>
                    </div>
                    <div class="code">
                        <i class="ri-arrow-up-circle-fill"></i><span>200+</span>
                    </div>
                </div>
                <div class="cardtxt">
                    <h2>Python Bootcamp from Zero to advance level</h2>
                </div>
                <div class="teacher">
                    <div class="techprofile">
                        <i class="ri-user-3-fill"><span>Sandeep Rao</span></i>
                    </div>
                    <div class="broucher">
                        <i class="ri-money-dollar-circle-fill"><del>Paid</del></i>
                    </div>
                </div>
                <button class="btn">Enroll Now</button>
            </div>
            <div class="product" data-name="p-1">
                <img src="./images/lectures/java.jpg" alt="">
                <div class="carddeco">
                    <div class="star">
                        <span>4.6</span> <i class="ri-star-fill"> </i>rating
                    </div>
                    <div class="eye">
                        <i class="ri-eye-fill"><span>120+</span></i>
                    </div>
                    <div class="code">
                        <i class="ri-arrow-up-circle-fill"></i><span>250+</span>
                    </div>
                </div>
                <div class="cardtxt">
                    <h2>Java Bootcamp from zero to advance level</h2>
                </div>
                <div class="teacher">
                    <div class="techprofile">
                        <i class="ri-user-3-fill"><span>Balwant Singh</span></i>
                    </div>
                    <div class="broucher">
                        <i class="ri-money-dollar-circle-fill"><del>Paid</del></i>
                    </div>
                </div>
                <button class="btn">Enroll Now</button>
            </div>
            <div class="product" data-name="p-1">
                <img src="./images/lectures/cpp.jpg" alt="">
                <div class="carddeco">
                    <div class="star">
                        <span>5</span> <i class="ri-star-fill"> </i>rating
                    </div>
                    <div class="eye">
                        <i class="ri-eye-fill"><span>250+</span></i>
                    </div>
                    <div class="code">
                        <i class="ri-arrow-up-circle-fill"></i><span>290+</span>
                    </div>
                </div>
                <div class="cardtxt">
                    <h2>C++ Bootcamp from zero to advance level ~ Programming</h2>
                </div>
                <div class="teacher">
                    <div class="techprofile">
                        <i class="ri-user-3-fill"><span>Rajesh Sharma</span></i>
                    </div>
                    <div class="broucher">
                        <i class="ri-money-dollar-circle-fill"><del>Paid</del></i>
                    </div>
                </div>
                <button class="btn">Enroll Now</button>
            </div>
            <div class="product" data-name="p-1">
                <img src="./images/lectures/apti.jpg" alt="">
                <div class="carddeco">
                    <div class="star">
                        <span>3</span> <i class="ri-star-fill"> </i>rating
                    </div>
                    <div class="eye">
                        <i class="ri-eye-fill"><span>100+</span></i>
                    </div>
                    <div class="code">
                        <i class="ri-arrow-up-circle-fill"></i><span>120+</span>
                    </div>
                </div>
                <div class="cardtxt">
                    <h2>Aptitude Bootcamp from basic to advance</h2>
                </div>
                <div class="teacher">
                    <div class="techprofile">
                        <i class="ri-user-3-fill"><span>Abhishek Singh</span></i>
                    </div>
                    <div class="broucher">
                        <i class="ri-money-dollar-circle-fill"><del>Paid</del></i>
                    </div>
                </div>
                <button class="btn">Enroll Now</button>
            </div>




        </div>
        <!-- <div class="btncent">
       <button class="btnexp">Explore More</button>
     </div> -->
    </div>
    <footer>
        <div class="contact" id="contact">
            <div class="icndet" id="icn1">
                <div class="icn"><i class="ri-map-pin-fill"></i>
                </div>
                <div class="icntxt">
                    <!-- <h1>Find us</h1> -->
                    <p>IT Park, Road Ambazari Nagpur, Maharastra</p>
                </div>
            </div>
            <div class="icndet" id="icn2">
                <div class="icn"><i class="ri-phone-fill"></i>
                </div>
                <div class="icntxt">
                    <!-- <h1>Call Us</h1> -->
                    <p><a tel="7509335477">7509335477 </a></p>
                </div>
            </div>
            <div class="icndet" id="icn3">
                <div class="icn"><i class="ri-mail-fill"></i>
                </div>
                <div class="icntxt">
                    <!-- <h1>Mail us</h1> -->
                    <p><a href="mailto:rytcareer14@gmail.com">rytcareer14@gmail.com</a></p>
                </div>
            </div>
        </div>

        <div class="footcent">
            <div class="footcentdet">
                <h1>Rytcareer</h1>
                <div class="footicn">
                    <div class="icncir">
                        <i class="ri-facebook-fill"></i>
                    </div>
                    <div class="icncir">
                        <i class="ri-twitter-fill"></i>
                    </div>
                    <div class="icncir">
                        <a href="https://instagram.com/rytcareer114?igshid=YmMyMTA2M2Y="><i
                                class="ri-instagram-fill"></i></a>
                    </div>
                    <div class="icncir">
                        <a href="https://www.linkedin.com/in/rytcareer-667769266"> <i class="ri-linkedin-fill"></i></a>
                    </div>
                    <div class="icncir">
                        <a href="https://t.me/+b-FBQ_DI7ew5Njdl"><i class="ri-telegram-fill"></i></a> <!--  -->
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <% include ./partials/footer.ejs %>