<% include ./partials/header.ejs %>
    <div class="bg">
        <div class="head1">
            <div class="left">
                <div class="leftmain">
                    <h1>Learn from the <span style="color: #289e8a;">snappiest</span> Coding Platform <i class="ri-arrow-right-up-line"></i>
                    </h1>
                    <h3>Learn Artificial Intelligence, Python, Java, C/CPP And Full-Stack Web Development from our best
                        Mentors.</h3>
                    <button id="btn" class="buttun"> <a href="/explore">Explore More</a> </button>
                </div>
            </div>
            <div class="right">
            </div>
        </div>


       
        <div class="head2">
            <div class="headsec">
                <h4 style="font-family: 'Signika Negative', sans-serif;">Trusted 100+ Companies <span style="color: #1C4980;">Worldwide</span> </h4>
            </div>
            <div class="head2company">
                <div class="containerimg">
                    <img class="item"
                        src="https://d8it4huxumps7.cloudfront.net/uploads/images/607e6f759cd8d_amazon.png?d=150x45"
                        alt="Example image">
                    <img class="item"
                        src="https://d8it4huxumps7.cloudfront.net/images/partners/partners125/5e69eaee8a0a1_Flipkart_logo.png?d=200x53"
                        alt="Example image">
                    <img class="item"
                        src="https://d8it4huxumps7.cloudfront.net/images/partners/partners125/6267c59c0bd2b_Optum-logo-ora-RGB.png?d=206x60"
                        alt="Example image">
                    <img class="item"
                        src="https://d8it4huxumps7.cloudfront.net/uploads/images/63dcec023c8c4_mahindra.png"
                        alt="Example image">
                    <img class="item"
                        src="https://d8it4huxumps7.cloudfront.net/uploads/images/150x150/5e895eb520e7b_hero_motocorp.png?d=188x62"
                        alt="Example image">
                    <img class="item"
                        src="https://d8it4huxumps7.cloudfront.net/uploads/images/6401fbc087e3d_2560px_mondelez_international_2012_logo_svg.png?d=162x40"
                        alt="Example image">
                </div>
            </div>
        </div>
        <div class="container-3img">

            <img src="https://cdn.unstop.com/uploads/images/home/learn-vector-image.png?d=760x404" alt="" srcset="">
            <img src="https://cdn.unstop.com/uploads/images/home/practice-vector-image.png?d=760x404" alt="" srcset="">
            <img src="https://cdn.unstop.com/uploads/images/home/mentorships-vector-image.png?d=760x404" alt=""
                srcset="">

        </div>
        <div class="container" style="margin-top: 6rem;">
            <div class="title">
                <h1>Register for <span class="italic" style="color: #1C4980;">Bootcamp</span></h1>
            </div>
            <div class="products-container" id="course">
                <div class="product" data-name="p-1">
                    <img src="./images/lectures/python.jpg" alt="">
                    <div class="carddeco">
                        <div class="star">
                            <span>5</span> <i class="ri-star-fill"> </i>rating
                        </div>
                        <div class="eye">
                            <i class="ri-eye-fill"><span>150+</span></i>
                        </div>
                        <div class="code">
                            <i class="ri-arrow-up-circle-fill"></i><span>200+</span>
                        </div>
                    </div>
                    <div class="cardtxt">
                        <h2>Python Bootcamp from Zero to advance level</h2>
                    </div>
                    <div class="teacher">
                        <div class="techprofile">
                            <i class="ri-user-3-fill"><span>Sandeep Rao</span></i>
                        </div>
                        <div class="broucher">
                            <i class="ri-money-dollar-circle-fill"><del>Paid</del></i>
                        </div>
                    </div>
                    <button class="btn">Enroll Now</button>
                </div>
                <div class="product" data-name="p-1">
                    <img src="./images/lectures/java.jpg" alt="">
                    <div class="carddeco">
                        <div class="star">
                            <span>4.6</span> <i class="ri-star-fill"> </i>rating
                        </div>
                        <div class="eye">
                            <i class="ri-eye-fill"><span>120+</span></i>
                        </div>
                        <div class="code">
                            <i class="ri-arrow-up-circle-fill"></i><span>250+</span>
                        </div>
                    </div>
                    <div class="cardtxt">
                        <h2>Java Bootcamp from zero to advance level</h2>
                    </div>
                    <div class="teacher">
                        <div class="techprofile">
                            <i class="ri-user-3-fill"><span>Balwant Singh</span></i>
                        </div>
                        <div class="broucher">
                            <i class="ri-money-dollar-circle-fill"><del>Paid</del></i>
                        </div>
                    </div>
                    <button class="btn">Enroll Now</button>
                </div>
                <div class="product" data-name="p-1">
                    <img src="./images/lectures/cpp.jpg" alt="">
                    <div class="carddeco">
                        <div class="star">
                            <span>5</span> <i class="ri-star-fill"> </i>rating
                        </div>
                        <div class="eye">
                            <i class="ri-eye-fill"><span>250+</span></i>
                        </div>
                        <div class="code">
                            <i class="ri-arrow-up-circle-fill"></i><span>290+</span>
                        </div>
                    </div>
                    <div class="cardtxt">
                        <h2>C++ Bootcamp from zero to advance level ~ Programming</h2>
                    </div>
                    <div class="teacher">
                        <div class="techprofile">
                            <i class="ri-user-3-fill"><span>Rajesh Sharma</span></i>
                        </div>
                        <div class="broucher">
                            <i class="ri-money-dollar-circle-fill"><del>Paid</del></i>
                        </div>
                    </div>
                    <button class="btn">Enroll Now</button>
                </div>
                <div class="product" data-name="p-1">
                    <img src="./images/lectures/apti.jpg" alt="">
                    <div class="carddeco">
                        <div class="star">
                            <span>3</span> <i class="ri-star-fill"> </i>rating
                        </div>
                        <div class="eye">
                            <i class="ri-eye-fill"><span>100+</span></i>
                        </div>
                        <div class="code">
                            <i class="ri-arrow-up-circle-fill"></i><span>120+</span>
                        </div>
                    </div>
                    <div class="cardtxt">
                        <h2>Aptitude Bootcamp from basic to advance</h2>
                    </div>
                    <div class="teacher">
                        <div class="techprofile">
                            <i class="ri-user-3-fill"><span>Abhishek Singh</span></i>
                        </div>
                        <div class="broucher">
                            <i class="ri-money-dollar-circle-fill"><del>Paid</del></i>
                        </div>
                    </div>
                    <button class="btn">Enroll Now</button>
                </div>




            </div>
            <!-- <div class="btncent">
       <button class="btnexp">Explore More</button>
     </div> -->
        </div>
        <!-- <div class="head3">
        <div class="topcourses">
            <div class="txt">
                <h1>Our Most Popular Online <br> <span class="italic">Courses</span>

                </h1>
            </div>
            <h2>Join a network of thousands of students from across the globe to support our motive of Learn, Connect,
                and Grow!</h2>
            <div class="icncircle">
                <i class="ri-arrow-right-up-line"></i>
            </div>
        </div>
        <div #swiperRef="" class="swiper mySwiper" id="Events">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="swiperdets">
                        <div class="imgsection">
                            <img src="./images/lectures/python.jpg" alt="" srcset="">
                        </div>
                        <div class="textcard">
                            <h1>Python from zero to advance level</h1>
                            <div class="cardmain">
                                <div class="cardtct">
                                    <h3>By- Sandeep Rao</h3>
                                </div>
                                <div class="star">
                                    <span>5</span>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                            </div>
                            <button id="btn">Register Now</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperdets">
                        <div class="imgsection">
                            <img src="./images/lectures/java.jpg" alt="" srcset="">
                        </div>
                        <div class="textcard">
                            <h1>Java from zero to advance level</h1>
                            <div class="cardmain">
                                <div class="cardtct">
                                    <h3>By- Balwant Singh</h3>
                                </div>
                                <div class="star">
                                    <span>5</span>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>
                                </div>
                            </div>
                            <button id="btn">Register Now</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperdets">
                        <div class="imgsection">
                            <img src="./images/lectures/cpp.jpg" alt="" srcset="">
                        </div>
                        <div class="textcard">
                            <h1>C++ from zero to advance level</h1>
                            <div class="cardmain">
                                <div class="cardtct">
                                    <h3>By- Rajes Sharma</h3>
                                </div>
                                <div class="star">
                                    <span>5</span>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                            </div>
                            <button id="btn">Register Now</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperdets">
                        <div class="imgsection">
                            <img src="./images/lectures/apti.jpg" alt="" srcset="">
                        </div>
                        <div class="textcard">
                            <h1>5 Days Aptitude Bootcamp</h1>
                            <div class="cardmain">
                                <div class="cardtct">
                                    <h3>By- Abhishek Singh</h3>
                                </div>
                                <div class="star">
                                    <span>5</span>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>
                                    <i class="ri-star-half-fill"></i>
                                </div>
                            </div>
                            <button id="btn">Register Now</button>
                        </div>
                    </div>
                </div>


            </div>
            <div class="swiper-button-next size"></div>
            <div class="swiper-button-prev size"></div>
            <div class="swiper-pagination"></div>
        </div>

    </div> -->
        <div class="head4">
            <div class="lefthead">
                <img src="./images/personal company/IMG_20230521_122329-removebg-preview.png" alt="">
            </div>
            <div class="righthead">
                <div class="rightheadtxt">
                    <h1>With the Best & Experienced <span>Mentors</span><i class="ri-arrow-right-up-line"></i></h1>
                    <h3>Get taught by industry experts having years of experience <br> in their respective fields apart
                        from
                        having cracked various <br> top tech companies worldwide.</h3>
                    <div class="onlineclass">
                        <h1>Online Classes<i class="ri-arrow-right-up-line"></i></h1>
                        <p>Join our series of LIVE lectures with top mentors, recorded sessions, and teaching
                            assistants.
                        </p>
                    </div>
                    <div class="liveclass">
                        <h1>Live class<i class="ri-arrow-right-up-line"></i></h1>
                        <p>Students will have mentors who will help them with their doubts, provide guidance, and help
                            them
                            out 24x7.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="head5">
            <div class="textfloat py-5 ">
                <h1>RYTCAREER</h1>
                <h1>RYTCAREER</h1>
                <h1>RYTCAREER</h1>
                <h1>RYTCAREER</h1>
                <h1>RYTCAREER</h1>
                <h1>RYTCAREER</h1>
                <h1>RYTCAREER</h1>
                <h1>RYTCAREER</h1>
                <h1>RYTCAREER</h1>
                <h1>RYTCAREER</h1>
            </div>

        </div>
        <div class="eventstext" style="text-align: center;">
            <h2 style="font-size: 5rem;         font-family: 'Arvo', serif; ">Register For Event's</h2>
        </div>
        <div class="events">
            <img src="../images/events/flipkart.webp" alt="" srcset="">
            <img src="../images/events/college_july.webp" alt="" srcset="">
        </div>
        <div class="head6">
            <div class="left6" id="About">
                <h1>About <span> ~ Rytcareer</span></h1>
            </div>
            <div class="right6">
                <i class="ri-arrow-left-up-line"></i>
                <i class="ri-arrow-right-up-line"></i>
            </div>
        </div>

        <div class="head7">
            <div class="left7">
                <img src="./images/personal company/redcutegirl-removebg-preview.png" alt="" srcset="">
            </div>
            <div class="right7">
                <h2>RytCareer is an online education platform that offers coding bootcamps and virtual education to
                    students.It was founded in January 2023, and since then, we have successfully taught over 500
                    students. At RytCareer, we provide comprehensive programs designed to help individuals develop
                    their coding skills and pursue a rewarding career in the tech industry. Our courses are taught
                    by industry professionals and cover various programming languages and technologies.</h2>
                <div class="rytceo">
                    <h1>Rytcareer |<span>Founder & Team</span> <i class="ri-arrow-right-up-line"></i> </h1>
                </div>
            </div>
        </div>
        <footer>
            <div class="contact" id="contact">
                <div class="icndet" id="icn1">
                    <div class="icn"><i class="ri-map-pin-fill"></i>
                    </div>
                    <div class="icntxt">
                        <!-- <h1>Find us</h1> -->
                        <p>IT Park, Road Ambazari Nagpur, Maharastra</p>
                    </div>
                </div>
                <div class="icndet" id="icn2">
                    <div class="icn"><i class="ri-phone-fill"></i>
                    </div>
                    <div class="icntxt">
                        <!-- <h1>Call Us</h1> -->
                        <p><a tel="7509335477">7509335477 </a></p>
                    </div>
                </div>
                <div class="icndet" id="icn3">
                    <div class="icn"><i class="ri-mail-fill"></i>
                    </div>
                    <div class="icntxt">
                        <!-- <h1>Mail us</h1> -->
                        <p><a href="mailto:rytcareer14@gmail.com">rytcareer14@gmail.com</a></p>
                    </div>
                </div>
            </div>

            <div class="footcent">
                <div class="footcentdet">
                    <h1>Rytcareer</h1>
                    <div class="footicn">
                        <div class="icncir">
                            <i class="ri-facebook-fill"></i>
                        </div>
                        <div class="icncir">
                            <i class="ri-twitter-fill"></i>
                        </div>
                        <div class="icncir">
                            <a href="https://instagram.com/rytcareer114?igshid=YmMyMTA2M2Y="><i
                                    class="ri-instagram-fill"></i></a>
                        </div>
                        <div class="icncir">
                            <a href="https://www.linkedin.com/in/rytcareer-667769266"> <i
                                    class="ri-linkedin-fill"></i></a>
                        </div>
                        <div class="icncir">
                            <a href="https://t.me/+b-FBQ_DI7ew5Njdl"><i class="ri-telegram-fill"></i></a> <!--  -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <% include ./partials/footer.ejs %>